@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<CadastroEmpresa>

<h2>Empresas Registradas</h2>

<table class="table">
    <thead>
        <tr>
            <th>CNPJ</th>
            <th>Email</th>
            <th>Senha</th>
            <th>Razão Social</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>@company.CNPJ</td>
                <td>@company.EmailEmpresa</td>
                <td>@company.SenhaEmpresa</td>
                <td>@company.RazaoSocial</td>
                <td>
                    <a asp-controller="CadastroEmpresa" asp-action="Edit" asp-route-id="@company.Id">Editar</a> |
                    <a asp-controller="CadastroEmpresa" asp-action="Delete" asp-route-id="@company.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="CadastroEmpresa" asp-action="Create" class="btn btn-primary">Nova Empresa</a>
